In [1]:
import re    # for regular expressions 
import nltk  # for text manipulation 
from nltk.corpus import stopwords
import string # for text manipulation 
import warnings
import pandas as pd # for data manipulation 
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_colwidth", 200)
warnings.filterwarnings("ignore") #ignore warnings

# import ssl
# 
# try:
#     _create_unverified_https_context = ssl._create_unverified_context
# except AttributeError:
#     pass
# else:
#     ssl._create_default_https_context = _create_unverified_https_context
# 
# nltk.download()

import os
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

%matplotlib inline

./data/processed_full.csv
./data/processed.csv
./data/light_data.csv
./data/light.csv
./data/data.csv
./data/processed
./data/lightdata.csv

In [21]:
data = pd.read_csv("./data/data.csv",encoding='latin-1')
data.head()
data = data.sample(frac=1)
DATASET_COLUMNS = ["target", "ids", "date", "flag", "user", "TweetText"]
data.columns = DATASET_COLUMNS
data.drop(['ids','date','flag','user'],axis = 1,inplace = True)
data = data[:10000]
data.loc[data['target'] == 4, 'target'] = 1
data.head()

,target,TweetText
1108129,1,in bed. waiting for the kids to wake up. listening to hubby make breakfast. nice. if only I could fall back asleep it'd be perfect
1078742,1,@IntentOfTheDay Happy Follow Friday!
107003,0,@moonfrye how about jelly beans? I like most of them but hate the licorice one
158421,0,It's no longer sunny in Seattle. http://tr.im/sunnyinseattle
144623,0,a lot of stuff to do today. Driving up to gainesville to get my blood work done

In [22]:
stopwords_list=stopwords.words('english')
from nltk.stem.porter import *
stemmer = PorterStemmer()
def remove_stopwords(text):
    clean_text=' '.join([word for word in text.split() if word not in stopwords_list])
    return clean_text

In [23]:
# data = pd.concat([positif_data,negative_data],axis = 0)
data['Clean_TweetText'] = data['TweetText'].str.replace("@", "")
data['Clean_TweetText'] = data['Clean_TweetText'].str.replace(r"http\S+", "")
data['Clean_TweetText'] = data['Clean_TweetText'].str.replace("[^a-zA-Z]", " ")
#data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda text : remove_stopwords(text.lower()))
#data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda x: x.split())
data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda x: [stemmer.stem(i) for i in x])
data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda x: ' '.join([w for w in x]))

In [24]:
data = data.drop(labels=['TweetText'], axis=1)

In [25]:
data.head()

,target,Clean_TweetText
1108129,1,in bed. wait for the kid to wake up. listen to hubbi make breakfast. nice. if onli i could fall back asleep it'd be perfect
1078742,1,intentoftheday happi follow friday!
107003,0,moonfry how about jelli beans? i like most of them but hate the licoric one
158421,0,it' no longer sunni in seattle. http://tr.im/sunnyinseattl
144623,0,a lot of stuff to do today. drive up to gainesvil to get my blood work done

In [7]:
data.to_csv('./data/processed_full.csv', sep=",",quotechar='"',index=False)

In [8]:
data.describe()

              target
count  100000.000000
mean        0.504120
std         0.499986
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000